<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <span class="navItem"><h1>
<%= link_to "Wikinimous", root_path, :style=>'color: #758184; text_decoration: none;' %></h1></span>
      <span class="navItem"><h1>
        <%= link_to "New Article", new_article_path%>
      </h1></span>
    </div>
    <%= yield %>
  </body>
</html>
